<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>

        <h1 class="relative top-20 text-center text-6xl font-bold tracking-wide uppercase text-gray-700">Sign Up</h1>

        {% if error %}
            <h1 class="relative top-28 text-center font-bold text-red-700">Unable to signup, try again.</h1>
        {% endif %}

        <form method = "post" class="mt-40 mx-auto w-full max-w-lg">
            <div class="flex flex-wrap">
                    <label class="w-full uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Username:</label>
                    <input type="text" name="username" class="w-full appearance-none bg-gray-200 text-gray-700 border border-gray-500 rounded py-3 px-3 leading-tight focus:outline-none focus:bg-white focus:border-2 focus:border-green-500 focus:ring-1 focus:righ-green-400" placeholder="John Doe" required/>
                    <p class="text-red-500 text-xs italic mb-3">Please fill out this field.</p>
                    <label class="w-full uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">User Email:</label>
                    <input type="email" name="email" class="w-full appearance-none bg-gray-200 text-gray-700 border border-gray-500 rounded py-3 px-3 leading-tight focus:outline-none focus:bg-white focus:border-2 focus:border-green-500 focus:ring-1 focus:righ-green-400" placeholder="JohnDoe@gmail.com" required/>
                    <label class = "w-full uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 mt-2">New Password:</label>
                    <input type="password" name="password" class = "w-full appearance-none bg-gray-200 text-gray-700 border border-gray-500 rounded py-3 px-3 leading-tight focus:outline-none focus:bg-white focus:border-2 focus:border-green-500 focus:ring-1 focus:righ-green-400" placeholder="***********" required/>
                    <p class="tracking-wide text-xs text-gray-500">Make the password difficult</p>
                    <label class="w-full uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 mt-2">Confirm Password:</label>
                    <input type="password" name="confirm_password" class="w-full appearance-none bg-gray-200 text-gray-700 border border-gray-500 rounded py-3 px-3 leading-tight focus:outline-none focus:bg-white focus:border-2 focus:border-green-500 focus:ring-1 focus:righ-green-400" placeholder="***********" required/>
                    <input type="submit" name="submit" class="w-1/4 bg-pink-500 mt-3 p-2 rounded hover:bg-pink-300 hover:border-2 hover:border-pink-600"/>
            </div>
        </form>
    </body>
</html>


<!-- Add the html main components.
Divide the pages in boxes.
Align the Pages. (take care of different screen sizes)
Add Style (color, bg-color, border-color)
Animations. -->
